/*Colors and fonts*/


body {
background: #c992a07d; 
color : #E3DFFF;
font-family: 'Nanum Gothic', sans-serif;
font-size: 16px;
}

h1, h2, h3 {
font-family: 'Lato', sans-serif; 
}

h1{
color: #837569; 
font-size: 35px;
}

h2 {
color: #837569; 
font-size: 35px;
font-weight : lighter;
}

a {
	font-family: 'Lato', sans-serif; 
	text-decoration: none; 
	color:#837569; 
	font-weight: bold; 
}

a:hover {
	color: #E3DFFF;
}


/* Custom design with class */

.container {
	width: 700px ;
	margin: 50px auto;

}

.card-white {
	background-color: pink; 
	padding: 40px; 
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 5px; 
	margin: 15px 0px;
	text-align: center;
}

.img-circle{
	border-radius : 5%;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
}

@media (max-width: 700px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}






